# compiled output
dist
node_modules
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# OS
.DS_Store
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# ENV
.env
# Docker
volumes

# Project exclude paths
/src/app/app.base.controller.js
/src/app/app.constant.js
/src/app/app.module.js
/src/configs/app.js
/src/configs/database.js
/src/configs/index.js
/src/configs/rmq.js
/src/configs/swagger.js
/src/entities/base.entity.js
/src/entities/document.entity.js
/src/entities/onlyoffice.entity.js
/src/entities/system-log.entity.js
/src/entities/terms-of-service.entity.js
/src/entities/terms-of-service-translation.entity.js
/src/entities/todo.entity.js
/src/entities/user.entity.js
/src/modules/auth/dtos/log-in.dto.js
/src/modules/auth/guards/jwt-admin.guard.js
/src/modules/auth/guards/jwt-user.guard.js
/src/modules/auth/guards/secret.guard.js
/src/modules/auth/responses/log-in.response.js
/src/modules/auth/strategies/jwt.strategy.js
/src/modules/auth/strategies/secret.strategy.js
/src/modules/auth/auth.constant.js
/src/modules/auth/auth.module.js
/src/modules/auth/auth.public.controller.js
/src/modules/auth/auth.service.js
/src/modules/document/document.controller.js
/src/modules/document/document.dto.js
/src/modules/document/document.module.js
/src/modules/document/document.service.js
/src/modules/onlyoffice/onlyoffice.controller.js
/src/modules/onlyoffice/onlyoffice.dto.js
/src/modules/onlyoffice/onlyoffice.interface.js
/src/modules/onlyoffice/onlyoffice.module.js
/src/modules/onlyoffice/onlyoffice.service.js
/src/modules/system-log/system-log.interface.js
/src/modules/system-log/system-log.module.js
/src/modules/system-log/system-log.service.js
/src/modules/terms-of-service/terms-of-service.interface.js
/src/modules/terms-of-service/terms-of-service.module.js
/src/modules/terms-of-service/terms-of-service.service.js
/src/modules/todo/todo.constant.js
/src/modules/todo/todo.interface.js
/src/modules/todo/todo.module.js
/src/modules/todo/todo.service.js
/src/modules/user/user.constant.js
/src/modules/user/user.interface.js
/src/modules/user/user.module.js
/src/modules/user/user.schedule.js
/src/modules/user/user.service.js
/src/platforms/admin/dtos/create-admin-user.dto.js
/src/platforms/admin/dtos/upsert-terms-of-service.dto.js
/src/platforms/admin/responses/formatted-user.response.js
/src/platforms/admin/responses/upsert-terms-of-service.response.js
/src/platforms/admin/admin.module.js
/src/platforms/admin/admin.protected.controller.js
/src/platforms/mobile/mobile.module.js
/src/platforms/web/dtos/create-todo.dto.js
/src/platforms/web/dtos/register.dto.js
/src/platforms/web/dtos/update-todo.dto.js
/src/platforms/web/responses/create-todo.response.js
/src/platforms/web/responses/formatted-todo.response.js
/src/platforms/web/responses/get-latest-terms-of-service.response.js
/src/platforms/web/responses/get-todo-details.response.js
/src/platforms/web/web.module.js
/src/platforms/web/web.protected.controller.js
/src/platforms/web/web.public.controller.js
/src/services/rmq.js
/src/services/swagger.js
/src/utils/base-exception.filter.js
/src/utils/locale.decorator.js
/src/utils/time.js
/src/main.js